.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  form {
    width: 300px; 
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 8px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    cursor: pointer;
  }